In [ ]:
l = ["apple", "banana", "cherry"]
for i in l:
  print(l[0])

apple
apple
apple

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x != "cherry":
    break
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for i in range(0,20,4):
  print(i)

0
4
8
12
16

In [ ]:
a = "jalpa"
for i in a[::-1]:
  print(i)

a
p
l
a
j

In [ ]:
\l = [3,4,5,6]
for i in l[::-1]:
  print(i)

6
5
4
3

In [ ]:
a = "jalpa"
a[::-1]

'aplaj'

In [ ]:
a= "jalpa"
for i in a[::-1]:
  print(i)

a
p
l
a
j

In [ ]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [ ]:
dict1 = { 1 : "jalpa", 2: "Harsh", 3:"Vishal", 4:"Archana", 5: "Sparsh", "hjh":"njksjdc"}
dict1.keys()
dict1.values()

dict_values(['jalpa', 'Harsh', 'Vishal', 'Archana', 'Sparsh', 'njksjdc'])

In [ ]:
for i in dict1.keys():
  print(i)

1
2
3
4
5
hjh

In [ ]:
for i in dict1.values():
  print(i)

jalpa
Harsh
Vishal
Archana
Sparsh
njksjdc

In [ ]:
l = [2,3,4,'jh','hh',9]

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
s = "My name is jalpa"
for i in s :
    if i == 's':
        print(" i got s as a string ")
    print(i)

M
y

n
a
m
e

i
 i got s as a string
s

j
a
l
p
a

In [ ]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

M
y

a
m
e

i
s

j
a
l
p
a
this is a else condtion

In [ ]:
s =  "bit infotech"
ss = ""
for i in range(len(s)):
    if s[i] == "b":
        continue
    else :
        ss = ss + s[i]

In [ ]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [ ]:
# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print("\n")

Enter number of rows: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
rows = int(input("Enter number of rows: "))

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")
    
    ascii_value += 1
    print("\n")

Enter number of rows: 5
A

B B

C C C

D D D D

E E E E E

In [ ]:
rows = int(input("Enter number of rows: "))

#ascii_value = 65

for i in range(rows):
    for j in range(65,65+i):
        #alphabet = chr(ascii_value)
        print(chr(j), end=" ")
    
    #ascii_value += 1
    print("\n")

Enter number of rows: 4


A

A B

A B C

In [ ]:
rows = int(input("Enter number of rows: "))

#ascii_value = 65

for i in range(rows,0,-1):
    for j in range(65,65+i):
        #alphabet = chr(ascii_value)
        print(chr(j), end=" ")
    
    #ascii_value += 1
    print("\n")

Enter number of rows: 6
A B C D E F

A B C D E

A B C D

A B C

A B

A

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")
    
    print("\n")

Enter number of rows: 5
*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1, i):
        print(j, end=" ")
    
    print("\n")

Enter number of rows: 5
1 2 3 4

1 2 3

1 2

1

In [ ]:
n=6
d=range(n, 0, -1)
d

range(6, 0, -1)

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    
    print("\n")

Enter number of rows: 5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [ ]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 4
      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

Enter number of rows: 4
* * * * *
  * * *
    *

In [ ]:
# Floyd's Triangle
rows = int(input("Enter number of rows: "))
number = 1

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(number, end=" ")
        number += 1
    print()

Enter number of rows: 4
1
2 3
4 5 6
7 8 9 10

In [ ]:
n=5;i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

In [ ]:
h = 5
for row in range(1, h+ 1):
    print(" " * (h - row) +"*" * row)

    *
   **
  ***
 ****
*****

In [ ]:
H = float(input("Enter the height of the person")) # Height should be enter in meter
W = float(input("Enter the weight of the person"))

BMI = (W / (H * H))

print(BMI, " is the BMI for the person")

Enter the height of the person1.52
Enter the weight of the person60
25.969529085872576  is the BMI for the person

In [ ]:
i = 1
j = 5
while i < j:
  print(i * '*')
  i = i+1

*
**
***
****

In [ ]:
initial_speed  = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
  print("This is my current speed")
  count = count + 1
  if count == 5:
    break

This is my current speed
This is my current speed
This is my current speed
This is my current speed

In [ ]:
notes  = 5 
sum = 1
while sum < notes:
  print(sum)
  sum = sum + 1
print("No, Rs. 10 notes are available")

1
2
3
4
No, Rs. 10 notes are available

In [ ]:
h = 'Harsh'
for i in h:
  print(i)

H
a
r
s
h

In [ ]:
s = "jalpa"
ch = len(s) -1
while ch >= 0 :
    print(s[ch])
    ch = ch -1

a
p
l
a
j

In [ ]:
s = "jalpa"
new = s.replace("a" , "this is a")
print(s)
print(new)

jalpa
jthis is alpthis is a

In [ ]:
name = "bitinfotech"
vowels = "AaEeIiOoUu"

for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else :
        print("{} is not a vowel".format(i))

b is not a vowel
i is a vowel
t is not a vowel
i is a vowel
n is not a vowel
f is not a vowel
o is a vowel
t is not a vowel
e is a vowel
c is not a vowel
h is not a vowel

In [ ]:
s = input("enter a data for which you would like to check pelindrom " )
s1 = s[::-1]
if s ==s1:
    print("its a same ")
else :
    print("its not a same ")

enter a data for which you would like to check pelindrom kanak
its a same