In [1]:
def add(a,b):
    '''this function is for addition of three number
    '''
    return a+b
def sub(a,b):
    '''this function is for addition of three number
    '''
    return a-b
def mul(a,b):
    '''this function is for addition of three number
    '''
    return a*b
def div(a,b):
    '''this function is for addition of three number
    '''
    return a/b

In [11]:
div(3,4)

0.75

In [2]:
def greet(name):
    """
    This function greets to
    the person passed in as
    a parameter
    """
    print("Hello, " + name + ". Good morning!")

In [4]:
greet('shalil')

Hello, shalil. Good morning!

In [5]:
def test1(*args):
    return args

In [7]:
test1(45,56,78,89,90)

(45, 56, 78, 89, 90)

In [9]:
test1(45,34,"mehul" , 45.67,"dixy")

(45, 34, 'mehul', 45.67, 'dixy')

In [10]:
test1([1,2,43,4,5] , (45,67,76,78) , "fsdf" , 345+7j)

([1, 2, 43, 4, 5], (45, 67, 76, 78), 'fsdf', (345+7j))

# awrg and kwarg

In [11]:
def test2(*shalil):
    return shalil

In [12]:
test2("fsdfsdf" ,345,"234234",345)

('fsdfsdf', 345, '234234', 345)

In [3]:
def test3(*navin , a):
    return navin , a

In [15]:
test3(34,56,767, a =23)

((34, 56, 767), 23)

In [2]:
def test4(*jalpa , a,b,c,d):
    return jalpa , a,b,c,d

In [19]:
test4(345,353,656,76 , a = [4,5,7,7,4] , b = [35445,65,65,56] , c= "dfsfs" , d = 345.656)

((345, 353, 656, 76), [4, 5, 7, 7, 4], [35445, 65, 65, 56], 'dfsfs', 345.656)

In [4]:
def test3( a , *xx):
    return a , xx

In [25]:
test3("fsadf" , 2354,54,56)

('fsadf', (2354, 54, 56))

In [45]:
def test33(*jalpa, a):
    return jalpa, a

In [47]:
test33(54,56, a= "fsadf")

((54, 56), 'fsadf')

In [25]:
def test5(a , *jalpa , b ,c ):
    return a , jalpa,b,c

In [28]:
test5("sfds" , [2,3,4,5] , 45,6,56,5,6,67,6,7,b = 6,c = 7)

('sfds', ([2, 3, 4, 5], 45, 6, 56, 5, 6, 67, 6, 7), 6, 7)

In [52]:
def test6(*args):
    l = []
    for i in args:
        if type(i) == int:
            l.append(i)
    return l

In [53]:
test6(45,67,67,76,[23,54,5,4,565656],[3,4,5,"ji"],["ff",2,3,4])

[45, 67, 67, 76]

In [54]:
test6(546,675,67567,567, [3,434,56,54] ,  [234,6,678] , "sdfs")

[546, 675, 67567, 567]

In [55]:
d = { "a" : [2,3,4,5,6] , 6  : [4,54,4,5,5,6]  }

In [56]:
d["a"]

[2, 3, 4, 5, 6]

In [57]:
def test7(**kwargs):
    return kwargs

In [58]:
test7(a = 345,b  = [45,5,54,6,6])

{'a': 345, 'b': [45, 5, 54, 6, 6]}

In [59]:
def test8(**jalpa) :
    return jalpa

In [60]:
test8(b = 787 , g = 235, f = [345,546,76,78,87,87])

{'b': 787, 'g': 235, 'f': [345, 546, 76, 78, 87, 87]}

In [61]:
test8(4= "sdfa")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_11208/1308003448.py, line 1)

In [6]:
def test9(**jalpa) :
    return jalpa

In [7]:
test9(name = "jalpa"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com")

{'name': 'jalpa',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com'}

In [8]:
test9(name = "jalpa"  , age  = "31" , phone_number = "4234" , mail_id = "sdfsdfd@dsdg.com" , adr = "fsasaffsa")

{'name': 'jalpa',
 'age': '31',
 'phone_number': '4234',
 'mail_id': 'sdfsdfd@dsdg.com',
 'adr': 'fsasaffsa'}

In [11]:
def test10(a, **jalpa):
    return jalpa , a

In [12]:
test10(45,t = 67,b = 78,c = 7,d = 8,e = 78)

({'t': 67, 'b': 78, 'c': 7, 'd': 8, 'e': 78}, 45)

In [13]:
def test11(a, **jalpa , *args):
    return jalpa , a  , args

SyntaxError: invalid syntax (Temp/ipykernel_12612/3787413409.py, line 1)

In [14]:
def test12(a , *args, **kwargs) :
    return a , args, kwargs

In [15]:
test12(45,56,67,6,7,67,6,7,67, g = 5476,l=46)

(45, (56, 67, 6, 7, 67, 6, 7, 67), {'g': 5476, 'l': 46})

In [16]:
def test13(a,b):
    return a*b

In [71]:
test13(45,67)

3015

In [77]:
def test56(*hh):
    return hh

In [78]:
test56(4,5,6,[6,7],(6,7))

(4, 5, 6, [6, 7], (6, 7))

# Lambda Function

In [72]:
x = lambda a ,b :(a*b  , a+b )

In [73]:
x(45,67)

(3015, 112)

In [79]:
h = lambda *hh :hh

In [80]:
h(4,5,6,[6,7],(6,7))

(4, 5, 6, [6, 7], (6, 7))

In [81]:
x=lambda *a:a*a

In [82]:
x(3,4,5)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [88]:
v = lambda *i : i**2

In [89]:
v(4)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [69]:
a=lambda a,b :(a*b,a+b)

In [70]:
a(4,5)

(20, 9)

In [90]:
x = lambda x: (for i in x : print(i))

SyntaxError: invalid syntax (Temp/ipykernel_11208/58210239.py, line 1)

In [87]:
x = lambda x :[ i for i in x ]

In [88]:
x([4,5,6,6])

[4, 5, 6, 6]

In [89]:
l = [4,5,6,7,7,8]

In [90]:
l1 = []
for i in l :
    l1.append(i)

In [91]:
l1

[4, 5, 6, 7, 7, 8]

In [92]:
[i for i in l]

[4, 5, 6, 7, 7, 8]

In [94]:
x = lambda x :[ i for i in x ]

In [96]:
x([45,435,56,56,5])

[45, 435, 56, 56, 5]

In [97]:
a = lambda **kwargs : kwargs

In [98]:
a(a  = 45, b = 56)

{'a': 45, 'b': 56}

In [105]:
c = 10 
def test16(c , d ):
    c = 5
    return c*d

In [106]:
test16(10,50)

250

In [107]:
c

10

In [108]:
l = [1,2,3,4,56,78,7,88,7]
l1 = []
for i in l :
    l1.append(i+2)

In [110]:
l1

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [111]:
def test17(a) :
    l1 = []
    for i in a :
        l1.append(i+2)
    return l1

In [112]:
test17(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [113]:
a = lambda a : [i+2 for i in a ]

In [114]:
a(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [115]:
l

[1, 2, 3, 4, 56, 78, 7, 88, 7]

In [125]:
[(i**2,i+i) for i in l if i< 4 if i>1]

[(4, 4), (9, 6)]

In [123]:
l1 = []
for i in l :
    if i < 4 :
         l1.append((i**2 , i+i) )

In [124]:
l1

[(1, 2), (4, 4), (9, 6)]

In [126]:
d = {1:1 , 2 :4 , 3:9}

In [127]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [129]:
d1 = {}
for i in range(10) : 
    d1[i] = i**2

In [130]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [132]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [133]:
a = 56
for i in a :
    print(i)

TypeError: 'int' object is not iterable

In [17]:
s = "jalpa"
for i in s :
    print(i)

j
a
l
p
a

In [19]:
s

'jalpa'

In [144]:
s = "fdsfsf"
for i in s :
    print(i)

f
d
s
f
s
f

In [153]:
l = [3,4,5,6,6]

In [156]:
l

[3, 4, 5, 6, 6]

In [158]:
l = iter(l)

In [181]:
l = [3,4,5,6,76]

In [182]:
len(l)

5

In [192]:
l1

[3, 4, 5]

In [193]:
l = [3,4,5,'t','t','t','t']
l.remove("t")

In [194]:
l

[3, 4, 5, 't', 't', 't']

In [199]:
for i in spam:
    print(i)

bar
car

In [200]:
spam.keys()

dict_keys(['bar', 'car'])

In [201]:
spam.values()

dict_values([100, 200])

In [205]:
d = lambda *a,b:[i+b for i in a ]
d(1,2, 3,b=5)

[6, 7, 8]

In [228]:
[i for i in test()]

[0, 1, 2, 3]